<h1 md-dialog-title>Import {{row.type}} {{row.label}}</h1>
<div md-dialog-content style="padding:3px 24px">
  <md-card>
    <md-card-content>
      <div class="flexRowToColumn">
        <md-input-container class="flexField">
          <input mdInput placeholder="Index" value="{{row.index}}" disabled />
        </md-input-container>
        <md-input-container class="flexField">
          <input mdInput placeholder="Type" value="{{row.type}}" disabled />
        </md-input-container>
        <md-input-container class="flexField">
          <input mdInput placeholder="Item" value="{{row.item}}" disabled />
        </md-input-container>
        <md-input-container class="flexField">
          <input mdInput placeholder="Result" value="{{row.result}}" disabled />
        </md-input-container>
      </div>
    </md-card-content>
  </md-card>
  
  <md-card *ngIf="row.error">
    <md-card-title style="color:red">ERROR</md-card-title>
    <md-card-content>
      <div class="flexRowToColumn">
        <md-input-container class="flexField">
          <input mdInput placeholder="Error" value="{{row.error}}" disabled />
        </md-input-container>
      </div>
      <div class="flexRowToColumn">
        <md-input-container class="flexField">
          <input mdInput placeholder="Request" value="{{row.request}}" disabled />
        </md-input-container>
      </div>
      <div class="flexRowToColumn">
        <md-input-container class="flexField">
          <textarea mdInput placeholder="Body" value="{{row.body}}" disabled></textarea>
        </md-input-container>
      </div>
    </md-card-content>
  </md-card>

  <md-card *ngIf="row.changedFieldNames.length">
    <md-card-title>Changed Values</md-card-title>
    <md-card-content>
      <div class="table material">
        <table>
          <thead>
            <tr>
              <th>Field Name</th>
              <th>Import Value</th>
              <th>Current Value</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let fieldName of row.changedFieldNames; let i=index">
              <td>{{fieldName}}</td>
              <td>{{row.newValues[i]}}</td>
              <td>{{row.oldValues[i]}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </md-card-content>
  </md-card>

  <md-card *ngIf="fieldNames.length">
    <md-card-title>Import Values</md-card-title>
    <md-card-content>
      <div class="table material">
        <table>
          <thead>
            <tr>
              <th>Field Name</th>
              <th>Import Value</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let fieldName of fieldNames">
              <td>{{fieldName}}</td>
              <td>{{row.config[fieldName]}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </md-card-content>
  </md-card>
</div>

<div md-dialog-actions>
  <button md-raised-button md-dialog-close color="primary">Close</button>
</div>
