body {
  min-height: 100%;
  margin: 0px;
}

.flexColumn {
  display:flex;
  flex-direction:column;
  align-items: stretch;
}
.flexRowToColumn {
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  align-items: flex-end;
  margin: -5px;
}
.flexRowToColumn .flexChild {
  margin: 5px;
  flex-grow: 1;
}
.flexRowToColumn .flexField {
  margin: 5px;
  flex-grow: 1;
}
.flexRowToColumn .flexField.labelWithButton {
  flex-grow: 0;
  margin-top: 25px;
}
.flexRowToColumn .flexField.mat-slide-toggle {
  margin-top: 18px;
  flex-grow: 0;
}
.flexRowToColumn > label.flexField {
  flex-grow: 0;
  margin-bottom: 11px
}
.mat-toolbar-row .mat-input-wrapper,
.flexRowToColumn .mat-input-wrapper{
  padding-bottom: 0px;
}
.mat-toolbar-row .mat-input-underline,
.flexRowToColumn .mat-input-underline{
  bottom: 0px;
}
.mat-toolbar-row .mat-input-infix {
  padding-bottom: 0px;
}
.mat-toolbar-row .mat-floating-placeholder,
span.mat-select-placeholder, span.mat-floating-placeholder {
  width: auto !important;
}
@media (max-width: 768px) {
  .flexRowToColumn {
    flex-direction:column;
  }
  .flexRowToColumn .flexChild {
    width: 100%;
  }
  .flexRowToColumn .flexField {
    width: 100%;
  }
  .flexRowToColumn .flexField.labelWithButton {
    flex-grow: 0;
    margin-top: 10px;
  }
  .flexRowToColumn .flexField.mat-slide-toggle {
    margin-top: 10px;
    flex-grow: 0;
  }
}
.mat-tab-body-wrapper {
   box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}
.mat-toolbar .mat-progress-spinner {
  height:24px;
  width:24px;
  line-height:24px;
  margin-right: 5px;
  margin-bottom: -4px;
}

.mat-toolbar .mat-toolbar-row {
  display: flex;
  align-items: flex-end!important;
  padding-bottom: 10px;
}

.labelWithButton {
  display:flex;
  flex-direction:row;
  align-items: center;
}

.labelWithButton label {
  line-height: 1em; 
  margin-bottom:0px;
  white-space: nowrap;
  margin-right: 10px;
}
.labelWithButton button.mat-icon-button {
  height: 24px;
  width: 24px;
  line-height: 24px;
}
.labelWithButton button.mat-icon-button .mat-icon {
  height: 24px;
  width: 24px;
  line-height: 24px;
}
.table-container {
  display: flex;
  flex-direction:column;
  flex-grow: 1;
}
.table-container.fill-height {
  flex: 1 1 auto;
  max-height: calc(100vh - 300px);
}
.table-container.fill-height .mat-table {
  overflow: auto;
}

.full-width {
  width: 100%;
}
.mat-toolbar-row > .mat-raised-button,
.mat-toolbar-row > * {
  margin-right: 1em;
}
/* To Fix bugs*/
.margin-top-1em {
  margin-top: 1em;
}
.mat-dialog-container {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
.mat-card-content .mat-divider {
  display: block;
  border-top-style: solid;
  border-top-width: 1px;
  margin: 10px -24px 10px -24px;
}
.mat-toolbar .mat-form-field,
.mat-toolbar .mat-select {
  font-size: 14px;
}
.mat-slide-toggle {
  display:inline-block;
}
.mat-option,
.mat-select-placeholder {
  font-size: 14px;
}
.mat-select {
  margin-top: 20px;
}
.mat-select-value-text {
  font-size: 14px;
}
.mat-select-placeholder,
.mat-floating-placeholder {
  margin-top: 4px;
}
.mat-input-underline span.mat-input-ripple {
  height: 1px;
}
.mat-select-value-text {
  font-size: 14px;
}
.mat-input-table .mat-icon-button {
  margin: -10px 0px -10px 0px;
}
.mat-raised-button .mat-button-wrapper .mat-icon {
  vertical-align: baseline;
}
/* End To Fix bugs*/

.table-container {
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}
.row .form-group {
  margin-left: 0px;
  margin-right: 0px;
}

.form-control .checkbox-inline {
  padding-top: 0px;
}

.nav-tabs {
  margin-bottom: 0;
}

.datatable-body-cell-label .mat-icon-button {
  height: 30px;
  width: 30px;
  line-height: 30px;
  margin-top: -5px;
}
.btn-toolbar {
  margin-top: 1em;
  margin-bottom: 1em;
}
.btn-toolbar .form-group {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
  padding-left: 6px;
  float: left;
}
.btn-toolbar .input-group {
  display: inline-table;
  vertical-align: middle;
}
.btn-toolbar .input-group-addon {
  width: auto;
}

.table.material table {
  background: #FFF;
  border-collapse: collapse;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  padding: 0px;
  margin: 0px;
}

.table.material thead > tr > th {
  text-align: left;
  padding: .5rem 1.2rem;
  font-weight: 400;
  color: #757575;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.table.material tbody > tr  > td {
  padding: .5rem 1.2rem;
  line-height: 1.625;
}

.table.material tbody > tr:nth-of-type(even)  > td {
  background: #eee;
}

