<md-tab-group>
  <md-tab>
    <ng-template md-tab-label> <a [routerLink]="['/ui', 'endpoints', apiName]">Endpoint: {{apiName}}</a> Group: {{groupName}}</ng-template>
    <md-toolbar>
      <ng-container *ngIf="groupEditable">
        <md-input-container>
          <input mdInput placeholder="Add Username" [(ngModel)]="addUsername" pattern="[a-z][a-z0-9_]*" />
        </md-input-container>
        <button type="button" (click)="addUser()" md-raised-button color="primary" [disabled]="!addUsername">Add User</button>
      </ng-container>
      <span style="flex: 1 1 auto"></span>
      <md-progress-spinner
        *ngIf="refreshingCount"
        mode="indeterminate"
      ></md-progress-spinner>
      <button (click)="refresh()" md-icon-button title="Refresh" >
        <md-icon fontSet="fa" fontIcon="fa-refresh"></md-icon>
      </button>
    </md-toolbar>
    <ngx-datatable
      class="material striped"
      [rows]="rows"
      [columns]="columns"
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="50"
      [externalPaging]="true"
      [count]="count"
      [offset]="offset"
      [limit]="limit"
      [cssClasses]="cssClasses"
      [scrollbarV]="true"
      (page)='onPage($event)'
    ></ngx-datatable>
  </md-tab>
</md-tab-group>

<ng-template #dateT let-value="value">{{value | date:'yyyy-MM-dd HH:mm:ss'}}</ng-template>

<ng-template #actionsT let-row="row">
  <button (click)="deleteObject(row)" md-icon-button style="color: red" [disabled]="!groupEditable">
    <md-icon fontSet="fa" fontIcon="fa-trash-o"></md-icon>
  </button>
</ng-template>
