<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>Group: {{groupName}}</ng-template>
    <mat-toolbar> 
      <mat-form-field> 
        <input matInput placeholder="Add Username" [(ngModel)]="addUsername" pattern="[a-z][a-z0-9_]*" /> 
      </mat-form-field>
      <button type="button" (click)="addUser()" mat-raised-button color="primary" [disabled]="!addUsername">Add User</button>
      <span style="flex: 1 1 auto"></span>
      <mat-progress-spinner
        *ngIf="refreshingCount"
        mode="indeterminate"
      ></mat-progress-spinner>
      <button (click)="refresh()" mat-icon-button title="Refresh" >
        <mat-icon fontSet="fa" fontIcon="fa-refresh"></mat-icon>
      </button>
    </mat-toolbar>
    <ngx-datatable
      class="material striped"
      [rows]="rows"
      [columns]="columns"
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="50"
      [externalPaging]="true"
      [count]="count"
      [offset]="offset"
      [limit]="limit"
      [cssClasses]="cssClasses"
      [scrollbarV]="true"
      (page)='onPage($event)'
    ></ngx-datatable>
  </mat-tab>
</mat-tab-group>

<ng-template #idT let-row="row" let-value="value"><a [routerLink]="['/ui','users', value]">{{value}}</a></ng-template>

<ng-template #dateT let-value="value">{{value | date:'yyyy-MM-dd HH:mm:ss'}}</ng-template>

<ng-template #actionsT let-row="row">
  <button (click)="deleteObject(row)" mat-icon-button style="color: red" title="Delete">
    <mat-icon fontSet="fa" fontIcon="fa-trash-o"></mat-icon>
  </button>
</ng-template>
