<div *ngIf="object">
  <form #userForm="ngForm" role="form">
    <mat-card>
      <mat-card-content>
        <mat-form-field class="full-width">
          <input matInput placeholder="Username" name="username" [(ngModel)]="object.username" required="true" />
        </mat-form-field>
        <mat-form-field *ngIf="object.custom_id" class="full-width">
          <input matInput placeholder="Custom Id" name="custom_id" [(ngModel)]="object.custom_id" disabled />
        </mat-form-field>
        <mat-form-field *ngIf="object.created_at" class="full-width">
          <input matInput placeholder="Created At" value="{{object.created_at | date:'yyyy-MM-dd HH:mm:ss'}}" disabled />
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button (click)="routeList()" mat-button>Close</button>
        <button (click)="save(false)" mat-raised-button color="accent" [disabled]="!userForm.form.valid" *ngIf="object.id">Save</button>
        <button (click)="save(true)" mat-raised-button color="primary" [disabled]="!userForm.form.valid">Save &amp; Close</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
