<md-tab-group *ngIf="object">
  <md-tab>
    <template md-tab-label>
      <span *ngIf="object.id">Consumer: {{object.username}}</span>
      <span *ngIf="!object.id">Add Consumer</span>
    </template>
    
    <form #consumerForm="ngForm" role="form">
      <md-card>
        <md-card-content>
          <md-input-container class="full-width">
            <input
              mdInput
              placeholder="Username"
              name="username"
              [(ngModel)]="object.username"
              required="true"
            />
          </md-input-container>
    
          <md-input-container *ngIf="object.custom_id" class="full-width">
            <input
              mdInput
              placeholder="Custom Id"
              name="custom_id"
              [(ngModel)]="object.custom_id"
              disabled
            />
          </md-input-container>
    
          <md-input-container *ngIf="object.created_at" class="full-width">
            <input
              mdInput
              placeholder="Created At"
              value="{{object.created_at | date:'yyyy-MM-dd HH:mm:ss'}}"
              disabled
            />
          </md-input-container>
        </md-card-content>
  
        <md-card-actions>
          <button (click)="goBack()" md-raised-button>Cancel</button>
          <button (click)="save()" md-raised-button color="primary" [disabled]="!consumerForm.form.valid">Save</button>
        </md-card-actions>
      </md-card>
    </form>

  </md-tab>
</md-tab-group>
