:host {
	margin: 5px;
}
.rowToColumn {
  display:flex;
  flex-direction:column;
  align-items: stretch;
  margin: -5px;
}

.rowToColumn > * {
  margin: 5px;
  flex: 1 1 auto;
}

.mat-column-key {
	overflow: auto;
}
.mat-column-ageDays {
  flex: 0 0 50px;
}
.mat-row .mat-column-ageDays {
  justify-content: flex-end;
  padding-right: 16px;
}
.mat-column-actions {
  flex: 0 0 50px;
}
.expiring .mat-cell {
	color:red;
	background-color: pink;
	font-weight: bold;
}
@media (min-width: 950px) {
  .rowToColumn {
    flex-direction:row;
  }
}
