<ng-container *ngIf="authService.username">
  <ng-container *ngIf="hasRole('gwa_github_developer'); else elseAcceptTerms">
  
    <mat-card *ngIf="appName && (appRedirectUrl || appSendMessage); else elseUserMode" style="margin-bottom:10px">
      <mat-card-title>Authorize application {{appName}}</mat-card-title>
      <mat-card-content>
        <p>Allow application <b>{{appName}}</b> to use your API Key to access web services?</p>
        <p>By allowing access you accept all responsibility for any access to the web service using
        your developer key.</p>
        <p>You can revoke access by deleting the API Key.</p>
        <p>Use of the API keys is subject to the the <a href="/terms" target="_blank">API Key Terms of Use</a>.</p>
        <mat-select placeholder="API Key" [(ngModel)]="apiKey" style="width: 290px" [disabled]="!hasApiKey">
          <mat-option *ngFor="let apiKey of rows" [value]="apiKey">{{apiKey.key}}</mat-option>
        </mat-select>
        <button (click)="deleteApiKey()" mat-mini-fab color="warn" title="Delete API Key" [disabled]="!hasApiKey"><mat-icon fontSet="fa" fontIcon="fa-trash-o"></mat-icon></button>
        <button (click)="addApiKey()" mat-mini-fab title="Create API Key" color="primary"><mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon></button>
      </mat-card-content>
      <mat-card-actions>
        <button (click)="authorizeAccess()" mat-raised-button color="primary" [disabled]="!hasApiKey">Authorize application {{appName}}</button>
      </mat-card-actions>
    </mat-card>
    <ng-template #elseUserMode>
      <div class="rowToColumn">
        <mat-card>
          <mat-card-title>Developer API Key <a href="https://github.com/bcgov/gwa/wiki/Developer-Guide" alt="Developer Guide" target="_blank"><mat-icon fontSet="fa" fontIcon="fa-question-circle" ></mat-icon></a></mat-card-title>
          <mat-card-content>
            <div class="table-container">
              <mat-toolbar>
                <button (click)="addApiKey()" mat-raised-button color="primary">Create API Key</button>
                <button (click)="setBasicAuthPassword()" mat-raised-button color="primary" *ngIf="basicAuth" style="margin-left: 1em"><span
                  *ngIf="!basicAuth.id">Create Basic Auth Password</span><span
                  *ngIf="basicAuth.id">Reset Basic Auth Password</span
                  ></button>
              </mat-toolbar>
         
              <mat-table *ngIf="dataSource.data.length; else noUserApikeys" #table [dataSource]="dataSource">
                <ng-container cdkColumnDef="key">
                  <mat-header-cell *cdkHeaderCellDef>API Key</mat-header-cell>
                  <mat-cell *cdkCellDef="let record"><span [ngClass]="{expiring:expiryDays(record) <=7}">{{record.key}}</span></mat-cell>
                </ng-container>

                <ng-container cdkColumnDef="expiryDays">
                  <mat-header-cell *cdkHeaderCellDef>Expiry (Days)</mat-header-cell>
                  <mat-cell *cdkCellDef="let record"><span [ngClass]="{expiring:expiryDays(record) <=7}">{{expiryDays(record)}}</span></mat-cell>
                </ng-container>

                <ng-container cdkColumnDef="actions">
                  <mat-header-cell *cdkHeaderCellDef>Actions</mat-header-cell>
                  <mat-cell *cdkCellDef="let record"><button (click)="deleteObject(record)" mat-icon-button style="color: red" title="Delete">
                    <mat-icon fontSet="fa" fontIcon="fa-trash-o"></mat-icon>
                  </button></mat-cell>
                </ng-container>
                
                <mat-header-row *cdkHeaderRowDef="columnNames"></mat-header-row>
                
                <mat-row *cdkRowDef="let row; columns: columnNames"></mat-row>
              </mat-table>
              <ng-template #noUserApikeys><div style="padding: 0.5em 1em"><i>No API keys found</i></div></ng-template>
            </div>
            <p>Use of the API keys is subject to the the <a href="/terms" target="_blank">API Key Terms of Use</a>.</p>
          </mat-card-content>
        </mat-card>
        <devkey-api-list></devkey-api-list>
      </div>
    </ng-template>
  </ng-container>
  <ng-template #elseAcceptTerms>
    <mat-card>
      <mat-card-title>Developer API Key <a href="https://github.com/bcgov/gwa/wiki/Developer-Guide" alt="Developer Guide" target="_blank"><mat-icon fontSet="fa" fontIcon="fa-question-circle" ></mat-icon></a></mat-card-title>
      <mat-card-content>
        <mat-checkbox [(ngModel)]="acceptTerms">I agree to the <a href="/terms" target="_blank">API Key Terms of Use</a></mat-checkbox>
      </mat-card-content>
      <mat-card-actions>
        <button (click)="requestAccess()" mat-raised-button color="primary" [disabled]="!acceptTerms">Request Access</button>
      </mat-card-actions>
    </mat-card>
  </ng-template>
</ng-container>
