<div class="table-container">
  <mat-toolbar>
    <span style="flex: 1 1 auto"></span>
    <mat-progress-spinner
      *ngIf="refreshingCount"
      mode="indeterminate"
    ></mat-progress-spinner>
    <button (click)="refresh()" mat-icon-button title="Refresh" >
      <mat-icon fontSet="fa" fontIcon="fa-refresh"></mat-icon>
    </button>
  </mat-toolbar>
  <ngx-datatable
    class="material striped"
    [rows]="rows"
    [columns]="columns"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="50"
    [count]="count"
    [cssClasses]="cssClasses"
    [scrollbarV]="true"
  ></ngx-datatable> 
</div>

<ng-template #idT let-row="row" let-value="value"><a [routerLink]="[ value]">{{value}}</a></ng-template>
