<div *ngIf="endPoint">

  <tabset>
    <tab heading="End Point: {{endPoint.id}}" active="true">
      <form #endPointForm="ngForm" class="form-horizontal" role="form">
        <accordion>
          <accordion-group heading="Details" isOpen="true">
            <div class="row">
              <div class="col-sm-6">
                <bs-form-group
                  [form]="endPointForm"
                  name="name"
                  inputWidth=""
                >
                  <bs-input-group prefixText="Name">
                    <input #title="ngModel" name="name" [(ngModel)]="endPoint.name" placeholder="Application Short Name" type="text" required="true" pattern="[a-z]{3,20}" class="form-control"  />
                  </bs-input-group>
                </bs-form-group>
              </div>
              <div class="col-sm-6">
                <bs-form-group
                  [form]="endPointForm"
                  name="title"
                  inputWidth=""
                >
                  <bs-input-group prefixText="Title">
                    <input #title="ngModel" name="title" [(ngModel)]="endPoint.title" placeholder="Title" type="text" required="true" class="form-control"  />
                  </bs-input-group>
                </bs-form-group>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <bs-form-group
                  [form]="endPointForm"
                  name="created"
                  inputWidth=""
                >
                  <bs-input-group prefixText="Created By">
                    <p class="form-control form-control-static">{{endPoint.created_by}}</p>
                  </bs-input-group>
                </bs-form-group>
              </div>
              <div class="col-sm-6">
                <bs-form-group
                  [form]="endPointForm"
                  name="created"
                  inputWidth=""
                >
                  <bs-input-group prefixText="Created At">
                    <p class="form-control form-control-static">{{endPoint.created_at | date:'yyyy-MM-dd HH:mm:ss'}}</p>
                  </bs-input-group>
                </bs-form-group>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
                <bs-form-group
                  [form]="endPointForm"
                  name="enabled"
                  inputWidth=""
                >
                  <bs-input-group prefixText="Enabled">
                    <span class="form-control">
                      <input name="enabled" [(ngModel)]="endPoint.enabled" type="checkbox" />
                    </span>
                  </bs-input-group>
                </bs-form-group>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
                <bs-form-group
                  [form]="endPointForm"
                  name="strip_uri"
                  inputWidth=""
                >
                  <bs-input-group prefixText="Strip URI">
                    <span class="form-control">
                      <input name="strip_uri" [(ngModel)]="endPoint.strip_uri" type="checkbox" />
                    </span>
                  </bs-input-group>
                </bs-form-group>
              </div>
              <div class="col-md-2">
                <bs-form-group
                  [form]="endPointForm"
                  name="https_only"
                  inputWidth=""
                >
                  <bs-input-group prefixText="Https Only">
                    <span class="form-control">
                      <input name="https_only" [(ngModel)]="endPoint.https_only" type="checkbox" />
                    </span>
                  </bs-input-group>
                </bs-form-group>
              </div>
              <div class="col-md-3">
                <bs-form-group
                  [form]="endPointForm"
                  name="http_if_terminated"
                  inputWidth=""
                >
                  <bs-input-group prefixText="Http if Terminated">
                    <span class="form-control">
                      <input name="http_if_terminated" [(ngModel)]="endPoint.http_if_terminated" type="checkbox" />
                    </span>
                  </bs-input-group>
                </bs-form-group>
              </div>
            </div>
            <bs-form-group
              [form]="endPointForm"
            >
              <bs-input-group prefixText="Methods">
                <span class="form-control">
                  <label *ngFor="let methodFlag of endPoint.method_flags" for="allowedHttpMethods" class="checkbox-inline">
                    <input type="checkbox" name="allowedHttpMethods" [checked]="methodFlag.enabled" (change)="methodFlag.enabled = $event.target.checked"> {{methodFlag.name}}
                  </label>
                </span>
              </bs-input-group>
            </bs-form-group>
          </accordion-group>
          
          <accordion-group heading="Upstream Service" isOpen="true">
            <bs-form-group
              [form]="endPointForm"
              name="upstreamUrl"
              inputWidth="col-sm-12"
            >
              <bs-input-group prefixIcon="external-link">
                <input [(ngModel)]="endPoint.upstream_url" name="upstreamUrl" placeholder="Upstream URL (e.g. http://server.com/)" type="url" required="true" pattern="https?://.+"  class="form-control"  />
              </bs-input-group>
            </bs-form-group>
            <div class="row">
              <div class="col-sm-6">    
                <bs-form-group
                  [form]="endPointForm"
                  name="upstreamUsername"
                  inputWidth=""
                >
                  <bs-input-group prefixIcon="user">
                    <input [(ngModel)]="endPoint.upstream_username" name="upstreamUsername" placeholder="Upstream Username" type="text" class="form-control" />
                  </bs-input-group>
                </bs-form-group>
              </div>
              <div class="col-sm-6">    
                <bs-form-group
                  [form]="endPointForm"
                  name="upstreamPassword" 
                 inputWidth=""
                >
                  <bs-input-group prefixIcon="key">
                    <input [(ngModel)]="endPoint.upstream_password" name="upstreamPassword" type="password" placeholder="Upstream Password" class="form-control" />
                  </bs-input-group>
                </bs-form-group>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <bs-form-group
                  [form]="endPointForm"
                  name="preserve_host"
                  inputWidth=""
                >
                  <bs-input-group prefixText="Preserve Host">
                    <span class="form-control">
                      <input name="preserve_host" [(ngModel)]="endPoint.preserve_host" type="checkbox" />
                    </span>
                  </bs-input-group>
                </bs-form-group>
              </div>
              <div class="col-md-4">
                <bs-form-group
                  [form]="endPointForm"
                  name="retries"
                  inputWidth=""
                >
                  <bs-input-group prefixText="Retries">
                    <input name="retries" [(ngModel)]="endPoint.retries" type="number" min="0" max="32767" class="form-control" />
                  </bs-input-group>
                </bs-form-group>
              </div>
            </div>
          </accordion-group>
          
        </accordion>
        <div class="btn-toolbar" role="toolbar">
          <button (click)="goBack()" class="btn btn-sm btn-default" role="button">Cancel</button>
          <button (click)="save()" class="btn btn-sm btn-primary" role="button" [disabled]="!endPointForm.form.valid">Save</button>
        </div>
      </form>
    </tab>
    <tab *ngIf="endPoint.id" heading="API Keys">
      <apiKey-list [endPoint]="endPoint"></apiKey-list>
    </tab>
  </tabset>
</div>