<div class="table-container">
  <mat-toolbar>
    <a [href]="getUrl('/config/export')" mat-raised-button color="primary">
      <mat-icon>arrow_downward</mat-icon> Export
    </a>
    
    <raf-input-file
      accept="application/json"
      (onFileSelect)="onFileSelect($event)"
    ></raf-input-file>

    <button (click)="importFileClick()" mat-raised-button [disabled]="!importFile" color="primary">
      <mat-icon>arrow_upward</mat-icon> Import
    </button>
  </mat-toolbar>

   <table mat-table  #importTable [dataSource]="dataSource" >
     <ng-container matColumnDef="index">
       <th mat-header-cell *matHeaderCellDef>Index</th>
       <td mat-cell *matCellDef="let record">{{record.index}}
       <button (click)="record" mat-icon-button>
         <mat-icon>info</mat-icon>
       </button></td>
     </ng-container>
     
     <ng-container matColumnDef="type">
       <th mat-header-cell *matHeaderCellDef>Type</th>
       <td mat-cell *matCellDef="let record">{{record.type}}</td>
     </ng-container>
     
     <ng-container matColumnDef="item">
       <th mat-header-cell *matHeaderCellDef>Item</th>
       <td mat-cell *matCellDef="let record"><a href="ui{{record.path}}" target="view" *ngIf="record.path; else labelElse">{{record.item}}</a>
         <ng-template #labelElse>{{record.item}}</ng-template></td>
     </ng-container>
 
     <ng-container matColumnDef="result">
       <th mat-header-cell *matHeaderCellDef>Result</th>
       <td mat-cell *matCellDef="let record"><mat-chip-list>
         <mat-chip *ngIf="record.result == 'Inserted'" color="primary" selected="true">{{record.result}}</mat-chip>
         <mat-chip *ngIf="record.result == 'Matched'">{{record.result}}</mat-chip>
         <mat-chip *ngIf="record.result == 'Ignore - Changed Values'" color="accent" selected="true">{{record.result}}</mat-chip>
         <mat-chip *ngIf="record.result == 'Ignore - Error'" color="warn" selected="true">{{record.result}}</mat-chip>
       </mat-chip-list></td>
     </ng-container>
  
     <tr mat-header-row *matHeaderRowDef="columnNames"></tr>
     <tr mat-row *matRowDef="let record; columns: columnNames"></tr>
   </table> 
   <mat-paginator
     #paginator
     [length]="recordCount | async"
     [pageSize]="pageSize"
     [hidePageSize]="true"
     [showFirstLastButtons]="true">
   </mat-paginator>
</div>

