<div class="table-container">
  <mat-toolbar>
    <a [href]="getUrl('/config/export')" mat-raised-button color="primary">
      <mat-icon fontSet="fa" fontIcon="fa-download"></mat-icon> Export
    </a>
    
    <raf-input-file
      accept="application/json"
      (onFileSelect)="onFileSelect($event)"
    ></raf-input-file>

    <button (click)="importFileClick()" mat-raised-button [disabled]="!importFile" color="primary">
      <mat-icon fontSet="fa" fontIcon="fa-upload"></mat-icon> Import
    </button>
  </mat-toolbar>

   <mat-table #importTable [dataSource]="dataSource" >
     <ng-container matColumnDef="index">
       <mat-header-cell *matHeaderCellDef>Index</mat-header-cell>
       <mat-cell *matCellDef="let record">{{record.index}}
       <button (click)="record" mat-icon-button>
         <mat-icon fontSet="fa" fontIcon="fa-info-circle" color="primary"></mat-icon>
       </button></mat-cell>
     </ng-container>
     
     <ng-container matColumnDef="type">
       <mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
       <mat-cell *matCellDef="let record">{{record.type}}</mat-cell>
     </ng-container>
     
     <ng-container matColumnDef="item">
       <mat-header-cell *matHeaderCellDef>Item</mat-header-cell>
       <mat-cell *matCellDef="let record"><a href="ui{{record.path}}" target="view" *ngIf="record.path; else labelElse">{{record.item}}</a>
         <ng-template #labelElse>{{record.item}}</ng-template></mat-cell>
     </ng-container>
 
     <ng-container matColumnDef="result">
       <mat-header-cell *matHeaderCellDef>Result</mat-header-cell>
       <mat-cell *matCellDef="let record"><mat-chip-list>
         <mat-chip *ngIf="record.result == 'Inserted'" color="primary" selected="true">{{record.result}}</mat-chip>
         <mat-chip *ngIf="record.result == 'Matched'">{{record.result}}</mat-chip>
         <mat-chip *ngIf="record.result == 'Ignore - Changed Values'" color="accent" selected="true">{{record.result}}</mat-chip>
         <mat-chip *ngIf="record.result == 'Ignore - Error'" color="warn" selected="true">{{record.result}}</mat-chip>
       </mat-chip-list></mat-cell>
     </ng-container>
  
     <mat-header-row *matHeaderRowDef="columnNames"></mat-header-row>
     <mat-row *matRowDef="let record; columns: columnNames"></mat-row>
   </mat-table>
   <mat-paginator
     #paginator
     [length]="recordCount | async"
     [pageSize]="pageSize"
     [hidePageSize]="true"
     [showFirstLastButtons]="true">
   </mat-paginator>
</div>

