@import 'deeppurple-amber.css';
@import 'ngx-datatable/index.css';
@import 'ngx-datatable/themes/material.css';
@import 'ngx-datatable/assets/icons.css';

@font-face {
  font-family: 'Myriad-Web-Pro';
  src: url('../fonts/MyriadWebPro.ttf');
}

.full-width {
  width: 100%;
}
.mat-toolbar-row > .mat-raised-button,
.mat-toolbar-row > * {
  margin-right: 1em;
}
.mat-tab-body {
  padding: 1em;
}
/* To Fix bugs*/
.mat-toolbar .mat-input-container,
.mat-toolbar .mat-select {
  font-size: 14px;
  }
.mat-slide-toggle {
  display:inline-block;
}
.mat-select {
  margin-top: 5px;
}
.mat-select-value-text {
  font-size: 14px;
}
.mat-select .mat-select-placeholder.mat-floating-placeholder {
  top: -14px;
  font-weight: 700;
}
.mat-select-value-text {
  font-size: 14px;
}
/* End To Fix bugs*/

.row .form-group {
  margin-left: 0px;
  margin-right: 0px;
}

.form-control .checkbox-inline {
  padding-top: 0px;
}

.nav-tabs {
  margin-bottom: 0;
}

.ngx-datatable {
  width:100%;
}
.ngx-datatable.scroll-vertical {
  height: 450px;
  flex: 1 1 auto;
}
.ngx-datatable.fixed-height {
  height: 450px;
}

.ngx-datatable .datatable-footer .datatable-pager,
.ngx-datatable .datatable-footer .datatable-pager ul.pager {
  display: none;
}
.datatable-body-cell-label .mat-icon-button {
  height: 30px;
  width: 30px;
  line-height: 30px;
  margin-top: -5px;
}
.btn-toolbar {
  margin-top: 1em;
  margin-bottom: 1em;
}
.btn-toolbar .form-group {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
  padding-left: 6px;
  float: left;
}
.btn-toolbar .input-group {
  display: inline-table;
  vertical-align: middle;
}
.btn-toolbar .input-group-addon {
  width: auto;
}

.navbar-default {
  background-color: #003366;
}
.navbar-default .navbar-brand {
  color: white;
}
.navbar-default .navbar-brand a {
  color: white;
  text-decoration: none;
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
    color: #eeeeee;
}

.navbar-default .navbar-brand {
  padding: 0px 0px 0px 5px;
  height: 100%;
  line-height: normal;
}

.navbar-default .navbar-brand > a {
  padding-right: 5px;
  display: inline-block;
  vertical-align: middle;
}

.navbar-default .navbar-brand .navbar-brand-title {
  font-size: 28px;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: #dddddd;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}
.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar {
  background-color: #888;
}
