@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';
.full-width {
  width: 100%;
}
.mat-toolbar-row > .mat-raised-button,
.mat-toolbar-row > * {
  margin-right: 1em;
}
.mat-tab-body {
  padding: 1em;
}
.mat-slide-toggle {
  display:inline-block;
}