@font-face {
  font-family: 'Myriad-Web-Pro';
  src: url('../fonts/MyriadWebPro.ttf');
}

body {
  height: 100%;
  margin: 0px;
}

.full-width {
  width: 100%;
}
.mat-toolbar-row > .mat-raised-button,
.mat-toolbar-row > * {
  margin-right: 1em;
}
/* To Fix bugs*/
.margin-top-1em {
  margin-top: 1em;
}
.mat-card-content .mat-divider {
  display: block;
  border-top-style: solid;
  border-top-width: 1px;
  margin: 10px -24px 10px -24px;
}
.mat-toolbar .mat-input-container,
.mat-toolbar .mat-select {
  font-size: 14px;
  }
.mat-slide-toggle {
  display:inline-block;
}
.mat-option,
.mat-select-placeholder {
  font-size: 14px;
}
.mat-select {
  margin-top: 20px;
}
.mat-select-value-text {
  font-size: 14px;
}
.mat-select-placeholder,
.mat-floating-placeholder {
  margin-top: 4px;
}
.mat-input-underline span.mat-input-ripple {
  height: 1px;
}
.mat-select-value-text {
  font-size: 14px;
}
.mat-input-table .mat-icon-button {
  margin: -10px 0px -10px 0px;
}
/* End To Fix bugs*/

.row .form-group {
  margin-left: 0px;
  margin-right: 0px;
}

.form-control .checkbox-inline {
  padding-top: 0px;
}

.nav-tabs {
  margin-bottom: 0;
}

.ngx-datatable {
  width:100%;
}
.ngx-datatable.scroll-vertical {
  height: calc(100vh - 250px);
  flex: 1 1 auto;
}
.ngx-datatable.fixed-height {
  height: 450px;
}

.ngx-datatable .datatable-footer .datatable-pager,
.ngx-datatable .datatable-footer .datatable-pager ul.pager {
  display: none;
}
.datatable-body-cell-label .mat-icon-button {
  height: 30px;
  width: 30px;
  line-height: 30px;
  margin-top: -5px;
}
.btn-toolbar {
  margin-top: 1em;
  margin-bottom: 1em;
}
.btn-toolbar .form-group {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
  padding-left: 6px;
  float: left;
}
.btn-toolbar .input-group {
  display: inline-table;
  vertical-align: middle;
}
.btn-toolbar .input-group-addon {
  width: auto;
}
