.rowToColumn {
  display:flex;
  flex-direction:column;
  align-items: stretch;
  margin: -5px;
}

.rowToColumn > * {
  margin: 5px;
  flex: 1;
}

@media (min-width: 769px) {
  .rowToColumn {
    flex-direction:row;
  }
}
