<ng-container *ngIf="authService.username">
  <ng-container *ngIf="hasRole('gwa_github_developer'); else elseAcceptTerms">
  
    <md-card *ngIf="appName && (appRedirectUrl || appSendMessage)" style="margin-bottom:10px">
      <md-card-title>Authorize application {{appName}}</md-card-title>
      <md-card-content>
        <p>Allow application <b>{{appName}}</b> to use your API Key to access web services?</p>
        <p>By allowing access you accept all responsibility for any access to the web service using
        your developer key.</p>
        <p>You can revoke access by deleting the API Key.</p>
        <p>Use of the API keys is subject to the the <a href="/terms" target="_blank">API Key Terms of Use</a>.</p>
        <md-select placeholder="API Key" [(ngModel)]="apiKey" style="width: 270px" [disabled]="!hasApiKey">
          <md-option *ngFor="let apiKey of rows" [value]="apiKey">{{apiKey.key}}</md-option>
        </md-select>
        <button (click)="deleteApiKey()" md-mini-fab color="warn" title="Delete API Key" [disabled]="!hasApiKey"><md-icon fontSet="fa" fontIcon="fa-trash-o"></md-icon></button>
        <button (click)="addApiKey()" md-mini-fab title="Create API Key" color="primary"><md-icon fontSet="fa" fontIcon="fa-plus"></md-icon></button>
      </md-card-content>
      <md-card-actions>
        <button (click)="authorizeAccess()" md-raised-button color="primary" [disabled]="!hasApiKey">Authorize application {{appName}}</button>
      </md-card-actions>
    </md-card>
    <div class="rowToColumn" *ngIf="!appName">
      <md-card>
        <md-card-title>Developer API Key <a href="https://github.com/bcgov/gwa/wiki/Developer-Guide" alt="Developer Guide" target="_blank"><md-icon fontSet="fa" fontIcon="fa-question-circle" ></md-icon></a></md-card-title>
        <md-card-content>
          
          <div class="table-container">
            <md-toolbar>
              <button (click)="addApiKey()" md-raised-button color="primary">Create API Key</button>
            </md-toolbar>
       
            <md-table #table [dataSource]="dataSource">
              <ng-container cdkColumnDef="key">
                <md-header-cell *cdkHeaderCellDef fxFlex="260px">API Key</md-header-cell>
                <md-cell *cdkCellDef="let row" fxFlex="260px">{{row.key}}</md-cell>
              </ng-container>
  
              <ng-container cdkColumnDef="actions">
                <md-header-cell *cdkHeaderCellDef fxFlex="50px">Actions</md-header-cell>
                <md-cell *cdkCellDef="let row" fxFlex="50px"><button (click)="deleteObject(row)" md-icon-button style="color: red" title="Delete">
                  <md-icon fontSet="fa" fontIcon="fa-trash-o"></md-icon>
                </button></md-cell>
              </ng-container>
              
              <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
              
              <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
            </md-table>
          </div>
          <p>Use of the API keys is subject to the the <a href="/terms" target="_blank">API Key Terms of Use</a>.</p>
        </md-card-content>
      </md-card>
      <app-api-list></app-api-list>
    </div>
  </ng-container>
  <ng-template #elseAcceptTerms>
    <md-card>
      <md-card-title>Developer API Key <a href="https://github.com/bcgov/gwa/wiki/Developer-Guide" alt="Developer Guide" target="_blank"><md-icon fontSet="fa" fontIcon="fa-question-circle" ></md-icon></a></md-card-title>
      <md-card-content>
        <md-checkbox [(ngModel)]="acceptTerms">I agree to the <a href="/terms" target="_blank">API Key Terms of Use</a></md-checkbox>
      </md-card-content>
      <md-card-actions>
        <button (click)="requestAccess()" md-raised-button color="primary" [disabled]="!acceptTerms">Request Access</button>
      </md-card-actions>
    </md-card>
  </ng-template>
</ng-container>
