<div *ngIf="object">
  <form #endpointForm="ngForm" class="form-horizontal" role="form">
    <mat-card>
      <mat-card-content>
        <div class="flexRowToColumn">
          <mat-form-field class="flexField">
            <input matInput placeholder="Name" name="name" [(ngModel)]="object.name" required pattern="[a-zA-Z][a-zA-Z0-9_\-]*" />
          </mat-form-field>
          <mat-form-field class="flexField" *ngIf="object.created_at">
            <input matInput placeholder="Created At" value="{{object.created_at | date:'yyyy-MM-dd HH:mm:ss'}}" disabled />
          </mat-form-field>
        </div>

        <div class="flexRowToColumn" style="align-items: flex-end">
          <mat-form-field class="flexField">
            <mat-chip-list #hostList>
              <mat-chip *ngFor="let host of object.hosts">{{host}}</mat-chip>
              <input placeholder="Hosts" [matChipInputFor]="hostList" readonly />
            </mat-chip-list>
          </mat-form-field>
          <mat-form-field class="flexField">
            <mat-chip-list #uriList>
              <mat-chip *ngFor="let uri of object.uris">{{uri}}</mat-chip>
              <input placeholder="Paths" [matChipInputFor]="uriList" readonly />
            </mat-chip-list>
          </mat-form-field>
        </div>

        <div class="flexRowToColumn" *ngIf="endpoint.config['api_owners'].length > 0">
          <mat-form-field class="flexField">
            <mat-chip-list #apiOwnerList>
              <mat-chip *ngFor="let apiOwner of endpoint.config['api_owners']">{{apiOwner}}</mat-chip>
              <input placeholder="Owner Usernames" [matChipInputFor]="apiOwnerList" readonly />
            </mat-chip-list>
          </mat-form-field>
        </div>

        <div class="flexRowToColumn">
          <mat-slide-toggle class="flexField" name="keyAuth_enabled" [checked]="keyAuth && keyAuth.enabled" color="primary">Allow Developer Keys</mat-slide-toggle>
        </div>

        <div class="flexRowToColumn">
          <mat-slide-toggle class="flexField" name="acl_enabled" [checked]="acl && acl.enabled" color="primary" disabled>Groups Enabled</mat-slide-toggle>
           <mat-form-field class="flexField" *ngIf="acl">
            <mat-chip-list #groupList>
              <mat-chip *ngFor="let groupName of acl.config['whitelist']">{{groupName}}</mat-chip>
              <input placeholder="Group Names" [matChipInputFor]="groupList" readonly />
            </mat-chip-list>
          </mat-form-field>
        </div>
      
        <div *ngIf="rateLimit" class="flexRowToColumn rateLimit">
          <label class="flexField">Rate Limits:</label>
          <mat-form-field class="flexField">
            <input matInput placeholder="Second" name="rateLimit_second" type="number" min="0" [(ngModel)]="rateLimit.config['second']" />
          </mat-form-field>
          <mat-form-field class="flexField">
            <input matInput placeholder="Minute" name="rateLimit_minute" type="number" min="0" required [(ngModel)]="rateLimit.config['minute']" />
          </mat-form-field>
          <mat-form-field class="flexField">
            <input matInput placeholder="Hour" name="rateLimit_hour" type="number" min="0" [(ngModel)]="rateLimit.config['hour']" />
          </mat-form-field>
          <mat-form-field class="flexField"> 
            <input matInput placeholder="Day" name="rateLimit_day" type="number" min="0" [(ngModel)]="rateLimit.config['day']" />
          </mat-form-field>
          <mat-form-field class="flexField">
            <input matInput placeholder="Month" name="rateLimit_month" type="number" min="0" [(ngModel)]="rateLimit.config['month']" />
          </mat-form-field>
          <mat-form-field class="flexField">
            <input matInput placeholder="Year" name="rateLimit_year" type="number" min="0" [(ngModel)]="rateLimit.config['year']" />
          </mat-form-field>
        </div>
      </mat-card-content>
        <mat-card-actions>
          <button (click)="routeList()" mat-button>Close</button>
          <button (click)="save(false)" mat-raised-button color="accent" [disabled]="!endpointForm.form.valid" *ngIf="object.id">Save</button>
          <button (click)="save(true)" mat-raised-button color="primary" [disabled]="!endpointForm.form.valid">Save &amp; Close</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
