<div class="table-container">
  <mat-toolbar>
    <span style="flex: 1 1 auto"></span>
    <div style="width: 20">
      <mat-spinner *ngIf="loading | async" diameter="20">
      </mat-spinner>
    </div>
    <button (click)="refresh()" mat-icon-button title="Refresh" >
      <mat-icon>refresh</mat-icon>
    </button>
  </mat-toolbar>

  <table mat-table  #pluginNameTable [dataSource]="dataSource" >

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Data</th>
      <td mat-cell *matCellDef="let record"><a [routerLink]="[record.name]">{{record.name}}</a></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnNames"></tr>
    <tr mat-row *matRowDef="let row; columns: columnNames"></tr>
  </table> 
  <mat-paginator
    #paginator
    [length]="recordCount | async"
    [pageSize]="pageSize"
    [hidePageSize]="true"
    [showFirstLastButtons]="true">
  </mat-paginator>
</div>
