<div *ngIf="object">
  <form #endpointForm="ngForm" class="form-horizontal" role="form">
    <mat-card>
      <mat-card-content>
        <div class="flexRowToColumn">
          <mat-form-field class="flexField">
            <input matInput placeholder="Name" name="name" [(ngModel)]="object.name" required="true" pattern="[a-zA-Z][a-zA-Z0-9_\-]*" />
          </mat-form-field>
          <mat-form-field class="flexField" *ngIf="object.created_at">
            <input matInput placeholder="Created At" value="{{object.created_at | date:'yyyy-MM-dd HH:mm:ss'}}" disabled />
          </mat-form-field>
          <mat-form-field class="flexField" *ngIf="endpoint.config['api_owners'].length > 0">
            <input *ngFor="let owner of endpoint.config['api_owners']" matInput placeholder="Owners" value="{{owner}}" disabled />
          </mat-form-field>
        </div>

        <div class="flexRowToColumn">
          <mat-form-field class="flexField" *ngIf="object.hosts.length > 0">
            <input *ngFor="let host of object.hosts" matInput placeholder="Hosts" value="{{host}}" disabled />
          </mat-form-field>
          <mat-form-field class="flexField" *ngIf="object.uris.length > 0">
            <input *ngFor="let path of object.uris" matInput placeholder="Paths" value="{{path}}" disabled />
          </mat-form-field>
        </div>

        <mat-divider class="mat-divider"></mat-divider>

        <div class="flexRowToColumn">
          <mat-slide-toggle class="flexField" name="keyAuth_enabled" [checked]="keyAuth && keyAuth.enabled" color="primary">Allow Developer Keys</mat-slide-toggle>
        </div>

        <mat-divider class="mat-divider"></mat-divider>

        <div class="flexRowToColumn">
          <mat-slide-toggle class="flexField" name="acl_enabled" [checked]="acl && acl.enabled" color="primary" disabled="true">Groups Enabled</mat-slide-toggle>
          <ng-template [ngIf]="acl">
            <label class="flexField">Group Names:</label>
            <ng-template ngFor let-i="index" let-groupName [ngForOf]="acl.config['whitelist']" [ngForTrackBy]="trackByIndex">
              <mat-form-field class="flexField">
                <input matInput name="groupName_{{i}}" [(ngModel)]="acl.config['whitelist'][i]" required="true" disabled="true" pattern="[a-z][a-z0-9_]*" />
              </mat-form-field>
            </ng-template>
          </ng-template>
        </div>

        <mat-divider class="mat-divider"></mat-divider>
        
        <div *ngIf="rateLimit" class="flexRowToColumn">
          <label class="flexField">Rate Limits:</label>
          <mat-form-field class="flexField">
            <input matInput placeholder="Second" name="rateLimit_second" type="number" min="0" [(ngModel)]="rateLimit.config['second']" />
          </mat-form-field>
          <mat-form-field class="flexField">
            <input matInput placeholder="Minute" name="rateLimit_minute" type="number" min="0" required="true" [(ngModel)]="rateLimit.config['minute']" />
          </mat-form-field>
          <mat-form-field class="flexField">
            <input matInput placeholder="Hour" name="rateLimit_hour" type="number" min="0" [(ngModel)]="rateLimit.config['hour']" />
          </mat-form-field>
          <mat-form-field class="flexField"> 
            <input matInput placeholder="Day" name="rateLimit_day" type="number" min="0" [(ngModel)]="rateLimit.config['day']" />
          </mat-form-field>
          <mat-form-field class="flexField">
            <input matInput placeholder="Month" name="rateLimit_month" type="number" min="0" [(ngModel)]="rateLimit.config['month']" />
          </mat-form-field>
          <mat-form-field class="flexField">
            <input matInput placeholder="Year" name="rateLimit_year" type="number" min="0" [(ngModel)]="rateLimit.config['year']" />
          </mat-form-field>
        </div>
      </mat-card-content>
        <mat-card-actions>
          <button (click)="routeList()" mat-button>Close</button>
          <button (click)="save(false)" mat-raised-button color="accent" [disabled]="!endpointForm.form.valid" *ngIf="object.id">Save</button>
          <button (click)="save(true)" mat-raised-button color="primary" [disabled]="!endpointForm.form.valid">Save &amp; Close</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
