.flexRowToColumn {
  display:flex;
  flex-direction:row;
  align-items: flex-end;
}
.flexRowToColumn .flexChild {
  margin-right: 5px;
  flex-grow: 1;
}
.flexRowToColumn .flexChild:last-child {
  margin-right: 0px;
}
.flexRowToColumn .mat-input-wrapper{
  padding-bottom: 0px;
}
.flexRowToColumn .mat-input-underline{
  bottom: 0px;
}
@media (max-width: 768px) {
  .flexRowToColumn {
    flex-direction:column;
  }
  .flexRowToColumn .flexChild {
    margin-right: 0px;
    margin-bottom: 2px;
    width: 100%;
  }
  .flexRowToColumn .flexChild:last-child {
    margin-bottom: 0px;
  }
}
.mat-tab-body-wrapper {
   box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}