<div>
  <mat-toolbar>
    <mat-form-field> 
      <input matInput placeholder="Add Group Name" [(ngModel)]="addGroupName" pattern="[a-z][a-z0-9_]*" /> 
    </mat-form-field>
    <button type="button" (click)="addGroup()" mat-raised-button color="primary" [disabled]="!addGroupName">Add Group</button>
    <mat-select placeholder="Filter Field" [(ngModel)]="filterFieldName" (ngModelChange)="refresh()">
      <mat-option *ngFor="let field of filterFields" [value]="field.prop">{{field.name}}</mat-option>
    </mat-select> 
    <span>=</span>
    <mat-form-field>
      <input matInput placeholder="Filter Value" [(ngModel)]="filterValue" (ngModelChange)="refresh()" /> 
    </mat-form-field>
    <span style="flex: 1 1 auto"></span>
    <mat-progress-spinner
      *ngIf="refreshingCount"
      mode="indeterminate"
    ></mat-progress-spinner>
    <button (click)="refresh()" mat-icon-button title="Refresh" >
      <mat-icon fontSet="fa" fontIcon="fa-refresh"></mat-icon>
    </button>
  </mat-toolbar>
  <ngx-datatable
    class="material striped" 
    [rows]="rows" 
    [columns]="columns" 
    [columnMode]="'force'"
    [headerHeight]="50" 
    [footerHeight]="50" 
    [rowHeight]="50" 
    [externalPaging]="true" 
    [count]="count"
    [offset]="offset" 
    [limit]="limit" 
    [cssClasses]="cssClasses" 
    [scrollbarV]="true"
    (page)='onPage($event)'
  ></ngx-datatable>
</div>

<ng-template #dateT let-value="value">{{value | date:'yyyy-MM-dd HH:mm:ss'}}</ng-template>

<ng-template #actionsT let-row="row">
  <button (click)="deleteObject(row)" mat-icon-button style="color: red" title="Delete">
    <mat-icon fontSet="fa" fontIcon="fa-trash-o"></mat-icon>
  </button>
</ng-template>
